body{
  font-family: monospace;
  background: black;
}

#side-panel{
  background-color: #ff6600;
  min-height: 100%;
  color: white;
  text-align: center;
  border: 2px solid white;
}

#head-coach{
  width: 100%;
  margin-top: 50px;
}
