body{
  font-family: monospace;
  background: black;
}

#side-panel{
  background-color: #ff6600;
  min-height: 100%;
  color: white;
  text-align: center;
  border: 2px solid white;
}

#head-coach{
  width: 250px;
  margin-top: 50px;
  cursor: pointer;
}

.building{
  height: 60px;
  background-color: #999;
  border: 2px solid lightgrey;
  cursor: pointer;
  padding: 5px 15px;
}

.building:hover{
  background: #aaa;
}

.building h3{
  margin: 0px;
  flaot: left;
}

.building .price{
  float:right;
}

.unavailable{
  background-color: #b23333;
}

.unavailable:hover{
  background-color: #c24343;
}
